* {
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #181616;
}

footer {
    background-color: #9f3647;
}

.navbar {
    background-color: #9f3647;
}

hr {
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.sectionPrincipal {

    color: white;
    background: linear-gradient(to right top, #0000008a, #0000008a), url(images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.peliculasAclamadas {
    white-space: nowrap;
    /* Evita el retorno automático de línea */
    overflow-x: auto;
    /* Agrega scroll horizontal cuando el contenido excede el ancho del contenedor */
}

.peliculasAclamadas img {
    max-width: 15vw;
    /* Establece un tamaño máximo del 100% del contenedor padre */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
    display: inline-block;
    /* Permite que las imágenes fluyan horizontalmente */
    margin-right: 50px;
    /* Espacio entre cada imagen */
}